modules = ["nodejs-20", "web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "dev"

[[workflows.workflow]]
name = "dev"
author = 41368065
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd adviosrConnect && npm install && npm run dev"
